@import url(./variable.css);
@import url(./loader.css);

body {
    background-color: var(--Dark-Blue);
    color: var(--Light-Cyan);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.main {
    background-color: var(--Dark-Grayish-Blue);
    max-width: 500px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.main__advice-number {
    text-transform: uppercase;
    font-size: 13px;
}

.main__divider--mobile {
    display: none;
}

.main__dice {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--Neon-Green);
    display: inline-block;
    position: relative;
    margin-bottom: -70px;
}

.main__dice:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 1px var(--Neon-Green);
}

.main__dice img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main__advice-number {
    color: var(--Neon-Green);
    letter-spacing: 3px;
    text-indent: -3px;
}

@media (max-width: 1440px) {
    .main {
        max-width: 300px;
    }

    .main__divider--mobile {
        display: block;
    }

    .main__divider--desktop {
        display: none;
    }
}
